<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Moana Fish & Chips</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet" href="./vendors/materialize.min.css" />
    <link rel="stylesheet" href="dist/app.min.css" />
  </head>

  <body>
    <!-- Navbar that takes you back to the homepage -->
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue darken-2">
            <a href="./index.html" class="brand-logo logo left">
            <i class="fas fa-home"></i>
            <i class="fas fa-arrow-left"></i>
            <span class="logo__name">Moana</span>
            <span class="logo__description"> Fish & Chips</span>
          </a>
          </div>
        </nav>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content green lighten-1">
            <p>To see nutrition & allergen info for your food go to &nbsp;<i class="fas fa-info-circle white-text fa-2x"></i>&nbsp; in the menu.</p>
          </div>
        </div>
      </div>
      <!-- Horizontal cards with food picture, name, price and plus sign -->
      <template id="product-box">
        <div class="col s12">
          <div class="card horizontal box">
            <div class="card-image">
              <!-- Image of the food item -->
              <img :src="item_data.img"/>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <!-- Name of the food item -->
                <span class="card-title foodname">{{item_data.title}}</span>
                <!-- Price of the food item -->
                <p class="card-title foodprice">${{item_data.price}}</p>
                <!-- A PLUS sign that lets you add the food item to the shopping cart -->
                <div id="product">
                  <i class="fa fa-plus" v-on:click="addItem(item_data)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
      <!-- The top part of the shopping cart -->
      <div class="col s12">
        <table>
          <tbody>
            <template id="buy-box">
              <tr class="shoppingcartrow">
                <!-- Name and price -->
                <td class="shoppingcartrow__nameandprice">{{buy_data.title}} ${{buy_data.price}}</td>
                <!-- Change quantity -->
                <td class="shoppingcartrow__changequantity">
                  <span class="shoppingcartrow__changequantity__qty-minus" v-on:click="minusQty(buy_data)">-</span>
                  <span class="shoppingcartrow__changequantity__qty">{{buy_data.qty}}</span>
                  <span class="shoppingcartrow__changequantity__qty-plus" v-on:click="plusQty(buy_data)">+</span>
                </td>
                <!-- Remove button -->
                <td>
                  <div class="shoppingcartrow__del" v-on:click="removeItem(buy_data)">Remove</div>
                </td>
                <!-- Total price -->
                <td><div class="shoppingcartrow__totalprice">${{buy_data.total}}</div></td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Bottom part of the shopping cart -->
    <div id="app">
      <item v-for="item in items" v-bind:item_data="item"></item>
      <buyitem v-for="buyitem in buyitems" v-bind:buy_data="buyitem"></buyitem>
      <span v-if="total()"><h4>Please pay ${{total()}} at the counter</h4>
        <!-- Checkout button & modal trigger -->
        <a class="waves-effect waves-light btn modal-trigger blue darken-2" href="#modal1">
        <i class="material-icons left">shopping_cart</i>Check Out</a>
      </span>
    </div>
      
    <!-- Modal pop-up info. -->
    <div id="modal1" class="modal bottom-sheet">
      <div class="modal-content blue lighten">
      <h5 class="white-text center-align pulse">Please pay at the counter</h5>
      </div>
      <div class="modal-footer blue lighten">
        <a href="./wait.html" class="modal-close waves-effect btn blue darken-2 white-text pulse">
        <i class="material-icons left">attach_money</i>OK</a>
      </div>
    </div>
    <br><br><br>

    <!-- Bottom floating menu -->
    <div class="fixed-action-btn toolbar">
      <a class="btn-floating btn-large blue darken-2">
        <i class="large material-icons">menu</i>
      </a>
      <ul>
        <li><a href="./comments.html" class="btn-floating"><i class="fas fa-comments"></i></a></li>
        <li><a href="./nutrition.html" class="btn-floating"><i class="fas fa-info"></i></a></li>
        <li><a href="./eco.html" class="btn-floating"><i class="fas fa-recycle"></i></a></li>
        <li><a href="./lifestyle.html" class="btn-floating"><i class="fas fa-heartbeat"></i></a></li>
        <li><a href="./copyright.html" class="btn-floating"><i class="fas fa-copyright"></i></a></li>
      </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js" ></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/food-info.js"></script>
    <script src="js/cart.js"></script>
    </body>
</html>