// #1976d2 is class="blue darken-2" in Materialize

.food-card {
  &__face {
    &__image {
      width: 100%;
      height: 450px;
      background-size: 392px 360px;
      background-image: url('../../images/burger-squished3.png');
      background-repeat: no-repeat;

      &__description {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &__name {
          font-size: 1rem;
          font-weight: 500;
          text-align: center;
          padding: 0.8rem 0.8rem 0.4rem 0.8rem;
          background: #1976d2;
          color: #fff;
          border-radius: 25px/25px;

        }

        &__price {
          font-size: 1rem;
          font-weight: 500;
          text-align: center;
          padding: 0.9rem 0.4rem 0.9rem 0.4rem;
          margin: 0rem 0rem 0rem 16rem;
          border-radius: 50px;
        }
      }
    }
  }

  &__footer{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    display: inline-block;
  }
}

.qt, .qt-plus, .qt-minus {
	display: block;
	float: left;
}

.qt {
	font-size: 19px;
	line-height: 50px;
	width: 70px;
	text-align: center;
}

.qt-plus, .qt-minus {
	background: #fcfcfc;
	border: none;
	font-size: 30px;
	font-weight: 300;
	height: 100%;
	padding: 0 20px;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}

.qt-plus:hover, .qt-minus:hover {
	background: #53b5aa;
	color: #fff;
	cursor: pointer;
}

.qt-plus {
	line-height: 50px;
}

.qt-minus {
	line-height: 47px;
}

// .price {
// 	background: #fcfcfc;
// 	color: #000;
// 	float: right;
// 	font-size: 15px;
// 	font-weight: 300;
// 	line-height: 49px;
// 	margin: 0;
// 	padding: 0 30px;
// }

.full-price {
	background: #53b5aa;
	color: #fff;
	float: right;
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;

	-webkit-transition: margin .15s linear;
	-moz-transition: margin .15s linear;
	-ms-transition: margin .15s linear;
	-o-transition: margin .15s linear;
	transition: margin .15s linear;
}