// #1976d2 is class="blue darken-2"

// This "__food-name" class needs to be the element of a parent block e.g. "food-card" 
.__food-name {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0rem 0rem 0rem 1rem;
  color: #fff;
  border: 2px solid #1976d2;
  line-height: 4;
  border-radius: 12px/28px;
  font-weight: 500;
}

.__food-name:hover {
  background: #1976d2;
  // Comment the line below and inspect the .__food-name. Materialize.min.css uses .black-text {color: #000 !important;}
  color: #fff !important;
}