// Formatting the lists in eco.html and lifestyle.html

.info-lists {
  margin: 0em 0em 0em 0.5em;
  text-indent: -0.5em;
  }
  
.info-list-heading{
    font-size: 1.25em;
    text-align: center;
    margin: 0em 0em 0.8em 0em;
  }